lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config/secretDatabase.js
config/secretAuth.js
config/auth.js_mine
config/auth.js_original
config/passport.js
app/routes.js
app/models/user.js
server.js